%nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        %span.sr-only Toggle
        %span.icon-bar/
        %span.icon-bar/
        %span.icon-bar/
      = link_to "Branch", root_url, :class => 'navbar-brand'

    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li= link_to "Feed", feed_items_path
          %li= link_to "Matches", profiles_path
          %li= link_to "Friends", friendships_path
        -else
          %li= link_to "About", pages_path('about')

      = render partial: 'devise/sessions/navbar_form'
