%p#notice= notice

%p
  %b Subject:
  = @proposal.subject
%p
  %b Body:
  = @proposal.body
%p
  %b User:
  = @proposal.user_id
%p
  %b Upvotes:
  = @proposal.upvotes
%p
  %b Downvotes:
  = @proposal.downvotes
%p
  %b Confidence:
  = @proposal.confidence
%p
  %b Heat:
  = @proposal.heat

= link_to 'Edit', edit_proposal_path(@proposal)
\|
= link_to 'Back', proposals_path
