%p#notice= notice

%h1= @proposal.subject
 
:markdown
  #{@proposal.body}

%p
  %b User:
  = @proposal.user_id
%p
  %b Upvotes:
  = @proposal.upvotes
%p
  %b Downvotes:
  = @proposal.downvotes
%p
  %b Confidence:
  = @proposal.confidence
%p
  %b Heat:
  = @proposal.heat
