- content_for :title, @proposal.subject

%header
  .media
    .pull-left
      = image_tag @proposal.user.profile.avatar.url(:feed), :class => 'media-object img-thumbnail'

    .media-body
      %h1= @proposal.subject
 
%article
  :markdown
    #{@proposal.body}

  - if @proposal.user_id == current_user.id
    .well.clearfix
      .pull-right= glyphicon_link 'Edit', edit_proposal_path(@proposal), 'edit', :class => 'btn btn-primary'

  %h2 Edits
  - if @proposal.versions.count > 0
    #versions.panel-group
      - @proposal.versions.each do |version|
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a(data-toggle="collapse" data-parent="#versions" href="#v#{version.id}")
                = version.created_at

          .panel-collapse.collapse(id="v#{version.id}")
            .panel-body
              - reified = version.reify
              %h4= reified.subject
              :markdown
                #{reified.body}

    %hr/

%aside
  - if @amendments.count > 0 || @comments.count > 0
    %ul.nav.nav-tabs
      - if @amendments.count > 0
        %li.active
          %a(href="#amendments" data-toggle="tab") 
            Amendments
            = " (#{@amendments.count})"
      - if @comments.count > 0
        %li
          %a(href="#comments" data-toggle="tab")
            Comments
            = " (#{@comments.count})"

  %br/
  %br/
  
  .tab-content
    - if @amendments.count > 0
      #amendments.tab-pane.active
        - @amendments.each do |amendment|
          .panel.panel-default
            .panel-body
              = render amendment
            .panel-footer.clearfix
              = voteable_footer(amendment)

    - if @comments.count > 0
      #comments.tab-pane
        - @comments.each do |comment|
          .panel.panel-default
            .panel-body
              = render comment
            .panel-footer.clearfix
              = voteable_footer(comment)
