%header
  .media
    .pull-left
      = image_tag @proposal.user.profile.avatar.url(:feed), :class => 'media-object img-thumbnail'

    .media-body
      %h1= @proposal.subject
 
%article
  :markdown
    #{@proposal.body}

%aside
  - if @amendments.count > 0 || @comments.count > 0
    %ul.nav.nav-tabs
      - if @amendments.count > 0
        %li.active
          %a(href="#amendments" data-toggle="tab") 
            Amendments
            = " (#{@amendments.count})"
      - if @comments.count > 0
        %li
          %a(href="#comments" data-toggle="tab")
            Comments
            = " (#{@comments.count})"

  %br/
  %br/
  
  .tab-content
    - if @amendments.count > 0
      #amendments.tab-pane.active
        - @amendments.each do |amendment|
          .panel.panel-default
            .panel-body
              = render amendment
            .panel-footer.clearfix
              = voteable_footer(amendment)

    - if @comments.count > 0
      #comments.tab-pane
        - @comments.each do |comment|
          .panel.panel-default
            .panel-body
              = render comment
            .panel-footer.clearfix
              = voteable_footer(comment)
